# Operating System Files
.DS_Store              # macOS
Thumbs.db              # Windows
Desktop.ini            # Windows
Icon?                  # macOS
.Trashes               # macOS
*.swp                  # Linux, Vim swap files
*.lock
*.log
*.pyc
*.class
.atom/
.buildlog/
.history
.svn/

# Web Development
node_modules/          # Node.js dependencies
bower_components/      # Bower dependencies
dist/                  # Distribution folder
coverage/              # Test coverage results
*.min.js               # Minified JavaScript files
*.map                  # Source maps

# IDE/Editor-specific
.idea/                 # IntelliJ
*.iml
*.ipr
*.iws
.vscode/               # Visual Studio Code
.classpath             # Eclipse
.project
.settings/
*.sublime-*
*.tmproj
*.tmproject

# Logs and databases
*.log
*.sql
*.sqlite
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS-specific files
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Windows-specific files
Thumbs.db
ehthumbs.db

# Flutter/Dart/Pub-related files
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android-related files
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/Xcode-related files
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Coverage and Symbol files
coverage/

# Symbols
app.*.symbols

# Exceptions
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/Gemfile.lock
